:root {
  --primary-main: #5a7fec;
  --secondary-main: rgba(43,68,212,0.52);
  --background-default: #282c34;
  --background-paper: #292525;
}
* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}  
*, *:before, *:after {
  box-sizing: inherit;
}
